@media only screen and (min-width: 768px){
    .news-input{
        width:50%;
    }
}

.h22{
    margin-top:10px;
}

#quali{
   text-align:center;
}

#cry{
    border-radius: 150px;
}

#map{
    width:100%;
    height:100%;
    border-radius:10px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    text-align: left;
}

body::before
{
    display:block;
    height:60px;
}
